{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Dostępne testy" %}{% endblock %}

{% block content %}
<h2>{% trans "Dostępne testy:" %}</h2>
    {% if quiz_list %}
		<table class="table table-bordered table-striped">

		  <thead>
			<tr>
			  <th>{% trans "Tytuł" %}</th>
			  <th>{% trans "Kategoria" %}</th>
			  <th>{% trans "Egzamin" %}</th>
			  <th>{% trans "Jedno podejście" %}</th>
			  <th></th>
			</tr>
		  </thead>

		  <tbody>

        {% for quiz in quiz_list %}

  			<tr>
			  <td>{{ quiz.title }}</td>
			  <td>{{ quiz.category }}</td>
			  {% if quiz.exam_paper %}
			  <td>Tak</td>
			  {% else %}
			  <td>Nie</td>
			  {% endif %}
			  {% if quiz.single_attempt %}
			  <td>Tak</td>
			  {% else %}
			  <td>Nie</td>
			  {% endif %}
			  <td>
				<a href="{% url 'quiz_start_page' slug=quiz.url %}">
				  {% trans "Szczegóły" %}
				</a>
			</tr>

        {% endfor %}
		  </tbody>

		</table>

	{% else %}
        <p>{% trans "Nie ma dostępnych testów" %}.</p>
    {% endif %}
	
	
{% endblock %}
