{% extends "base.html" %}
{% load i18n %}

{% load quiz_tags %}

{% block title %} {% trans "Strona postępów" %} {% endblock %}
{% block description %} {% trans "Postępy użytkownika" %} {% endblock %}

{% block content %}

  {% if cat_scores %}

  <h1>{% trans "Wyniki według kategorii" %}</h1>

  <table class="table table-bordered table-striped">

	<thead>
	  <tr>
		<th>{% trans "Kategoria" %}</th>
		<th>{% trans "Poprawne odpowiedzi" %}</th>
		<th>{% trans "Niepoprawne" %}</th>
		<th>%</th>
	  </tr>
	</thead>

	<tbody>


	  {% for cat, value in cat_scores.items %}
	  <tr>
		<td>{{ cat }}</td>
		<td>{{ value.0 }}</td>
		<td>{{ value.1 }}</td>
		<td>{{ value.2 }}</td>
	  </tr>

	  {% endfor %}

	</tbody>

  </table>


  {% endif %}

  {% if exams %}

  <hr>

  <h1>{% trans "Wcześniejsze egzaminy" %}</h1>
  <p class="lead">
	{% trans "Wyniki egzaminów, do których podchodziłeś." %}
  </p>

  <table class="table table-bordered table-striped">

	<thead>
	  <tr>
		<th>{% trans "Tytuł" %}</th>
		<th>{% trans "Wynik" %}</th>
		<th>{% trans "Maksymalnie do zdobycia" %}</th>
		<th>%</th>
	  </tr>
	</thead>

	<tbody>

	  {% for exam in exams %}

	  <tr>
		<td>{{ exam.quiz.title }}</td>
		<td>{{ exam.current_score }}</td>
		<td>{{ exam.get_max_score }}</td>
		<td>{{ exam.get_percent_correct }}</td>
	  </tr>

	  {% endfor %}

	</tbody>

  </table>

  {% endif %}

	<a href="/">Powrót na stronę główną</a>

{% endblock %}
